# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# db
/src/db.properties

# Eclipse Project files
.settings/
.classpath
.project

# bin files
bin/